$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Roboto Slate', sans-serif;

$text-xs: 0.64rem;
$text-sm: 0.8rem;
$text-md: 1rem;
$text-lg: 1.25rem;
$text-xl: 1.563rem;
$text-2xl: 1.953rem;
$text-3xl: 2.441rem;
$text-4xl: 3.052rem;
