.navbar {
  display: flex;

  .container {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }
  }

  .navbar-menus {
    display: flex;
    flex: 1;
  }

  .navbar-menu {
    display: flex;
    margin-left: auto;
    align-items: center;
  }

  .navbar-menu-item {
    padding: 0.25rem;

    a {
      padding: 0.25rem;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 500;
      color: #212529;

      &:hover {
        color: #6c757d;
      }
    }

    input {
      border: none;
      text-transform: uppercase;
      padding: 0.25rem;
      cursor: pointer;
      color: #212529;
      font-weight: 500;

      &:hover {
        color: #6c757d;
      }
    }
  }
}
