.calendar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  > div {
    border: thin solid #e5e5e5;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
